<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's reset that password!</title>
</head>
<body>
    <h2>Welcome {{callsign}}!</h2>
    <a href={{link}}>Click here to reset your password!</a>
    <p>Or you can manually enter using the next link: {{link}}</p>
    <h3>This link will expire in 1 hour, if it expire you will have to try to reset your password again!</h3>
</body>
</html>