<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your password has been reset!</title>
</head>
<body>
    <h2>{{callsign}}!</h2>
    <p>We have changed your password based on a request made by you. If it wasn't you, request a password change again.</p>
</body>
</html>