<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for making an account!</title>
</head>
<body>
    <h2>Welcome {{name}}</h2>
    <p>If you are seeing this email it's because you register an account in this API and the mailer was working correctly!</p>
</body>
</html>